/* Galeri Alam Section */
.galeri-alam {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-width: 1800px;
  margin: 50px auto;
  padding-left: 90px;
  font-family: "Montserrat", sans-serif;
}

.galeri-alam h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.galeri-alam h2 {
  width: 600px;
  font-size: 31px;
  font-weight: 600;
  color: #000;
  margin: 40px 0 30px;
}

/* Horizontal Scroll Container */
.horizontal-scroll {
  display: flex;
  max-width: 90vw;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Item dalam Horizontal Scroll */
.photos-item {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.photos-item img {
  width: 300px;
  height: 472px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.photos-item img:hover {
  opacity: 0.7;
}

/* Container untuk Gambar dan Overlay */
.image-card {
  position: relative;
  border-radius: 10px;
}

/* Gambar Utama */
.card-image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

/* Kontainer Informasi Overlay */
.card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Efek Hover untuk Overlay */
.image-card:hover .card-info {
  opacity: 1;
}

/* Styling Teks di Overlay */
.card-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-info p {
  font-size: 1em;
  line-height: 1.5;
}

/* Mobile (Smartphone) */
@media (max-width: 767px) {
  .hero {
    padding: 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 36px;
    line-height: 1.1;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
  }

  .hero img {
    width: 100px;
    top: 20px;
  }
}

@media (max-width: 768px) {

  .galeri-alam {
    padding: 0;
  }

  .galeri-alam h4 {
    text-align: center;
  }

  .galeri-alam h2 {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .horizontal-scroll {
    padding-left: 20px;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .galeri-alam {
    height: auto;
  }
}
