/* Font-face untuk font custom */
@font-face {
  font-family: 'JavaFont';
  src: url('/fonts/qidung-swara-demo.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Reset dan dasar */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
}

h1 {
  font-family: 'JavaFont', sans-serif;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* Peta dan ikon */
.peta-nusantara {
  position: relative;
  max-width: 100%;
  height: auto;
}

.peta {
  width: 100%;
  height: auto;
}

.icon {
  position: absolute;
  width: 2%;
  cursor: pointer;
}

/* Posisi masing-masing titik */
.point-icon.sumatra {
  left: 15%;
  top: 40%;
}

.point-icon.jawa {
  left: 34%; 
  bottom: 16%;
}

.point-icon.nusa {
  left: 50%; 
  bottom: 10%;
}

.point-icon.kalimantan {
  left: 40%;
  top: 35%;
}

.point-icon.sulawesi {
  left: 55%;
  top: 45%;
}

.point-icon.maluku {
  right: 25%;
  top: 52%;
}

.point-icon.papua {
  right: 5%;
  top: 55%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
}

/* tooltip icon */
.tooltip-container {
  /* position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltip-sumatra, .tooltip-jawa, .tooltip-kalimantan, .tooltip-nusa, .tooltip-sulawesi, .tooltip-maluku, .tooltip-papua {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  line-height: 2;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Efek transisi saat muncul */
}

.tooltip-sumatra {
  left: 5%;
  top: 48%;
}

.tooltip-jawa {
  left: 21%;
  bottom: 5%;
}

.tooltip-nusa {
  left: 53%;
  bottom: 2%;
}

.tooltip-kalimantan {
  left: 38%;
  top: 13%;
}

.tooltip-sulawesi {
  left: 48%;
  bottom: 28%;
}

.tooltip-maluku {
  right: 23%;
  top: 30%;
}

.tooltip-papua {
  right: 3%;
  bottom: 16%;
}

.tooltip-container:hover .tooltip-sumatra, .tooltip-container:hover .tooltip-jawa, .tooltip-container:hover .tooltip-nusa, .tooltip-container:hover .tooltip-kalimantan, .tooltip-container:hover .tooltip-sulawesi, .tooltip-container:hover .tooltip-maluku, .tooltip-container:hover .tooltip-papua{
  opacity: 1;
}

.tooltip-sumatra a, .tooltip-jawa a, .tooltip-nusa a, .tooltip-kalimantan a, .tooltip-sulawesi a, .tooltip-maluku a, .tooltip-papua a{
  background-color: transparent;
  border: none;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.tooltip-sumatra a:hover, .tooltip-jawa a:hover, .tooltip-nusa a:hover, .tooltip-kalimantan a:hover, .tooltip-sulawesi a:hover, .tooltip-maluku a:hover, .tooltip-papua a:hover{
  text-decoration: underline;
}